@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Frank Ruhl Libre", serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  padding: 0px;
  margin: 0px;
}
header {
  background-image: url("../images/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  position: relative;
  z-index: 0;
}
header::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 27, 21, 0.78);
  z-index: -1;
}
header .navbar {
  padding: 1.5rem 40px;
}
header .navbar .navbar-brand {
  color: rgb(255, 255, 255);
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
  font-size: 40px;
}
header .navbar .navbar-brand:hover,
header .navbar .navbar-brand:focus {
  color: rgb(255, 255, 255);
}
header nav a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(194, 194, 194);
  font-size: 20px;
  border-bottom: 1px solid rgba(194, 194, 194, 0.616);
  padding: 0px;
  margin: 8px 28px 8px 8px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-light .navbar-nav .nav-link i {
  color: rgb(0, 171, 132);
  font-size: 30px;
  transition: all 0.2s ease-in-out 0s;
}
.navbar-light .navbar-nav .nav-link i:hover {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  text-shadow: rgb(255 255 255) 0px 0px 2px;
}
.header-slider-height {
  min-height: 60vh;
}
.header-slider h5 {
  color: rgb(255, 255, 255);
  margin-bottom: 35px;
  font-size: 22px;
}
.header-slider h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  font-size: 90px;
  font-weight: 500;
}
.header-slider .shop-btn,
.buy-online .shop-btn {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 171, 132);
  text-transform: uppercase;
  border-radius: 2px;
  padding: 12px 30px;
  font-size: 16px;
  transition: all 0.3s ease-in-out 0s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 50px;
}
.header-slider .shop-btn:hover,
.buy-online .shop-btn:hover {
  background-color: rgb(0, 145, 112);
}
.header-slider .shop-btn:focus,
.buy-online .shop-btn:focus {
  box-shadow: none;
}
.item-info {
  padding: 50px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 80px -40px;
}
.item-details {
  display: flex;
}
.item-logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: rgb(0, 171, 132);
  font-size: 20px;
}
.item-text h4 {
  color: rgb(42, 42, 42);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
}
.item-text p {
  color: rgb(85, 85, 85);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.items {
  padding: 40px 0px 90px;
}
.item a {
  transition: all 0.3s ease-in-out 0s;
  border-bottom: 1px solid transparent;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.item a:hover {
  border-bottom: 1px solid rgb(0, 171, 132);
  cursor: pointer;
}
.item img {
  transition: all 0.3s ease-in-out 0s;
  display: block;
  margin: auto;
  padding-bottom: 30px;
}
.item img:hover {
  transform: scale(1.07);
  cursor: pointer;
}
/* featured product start  */
.featured-product {
  background-color: rgb(245, 245, 245);
  padding: 80px 40px;
}
.featured-product .owl-dots {
  text-align: center;
}
.featured-product .owl-dots .owl-dot span {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(204, 203, 203);
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.4s ease-in-out 0s;
}
.featured-product .owl-dots .active span {
  background-color: rgb(0, 171, 132);
  transform: scale(1.3);
}
.featured-product h1 {
  color: rgb(42, 42, 42);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.featured-product p {
  color: rgb(85, 85, 85);
}
.view-plants-btn {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 171, 132);
  border-radius: 2px;
  padding: 12px 30px;
  font-size: 18px;
  transition: all 0.3s ease-in-out 0s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.view-plants-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 145, 112);
}
.view-plants-btn:focus {
  box-shadow: none;
}
.product {
  position: relative;
}
.product img {
  margin-bottom: 15px;
  width: 100%;
}
.product h6 {
  color: rgb(42, 42, 42);
  font-weight: 500;
  font-size: 18px;
}
.product ul {
  list-style: none;
  display: flex;
  margin: 2px 0px;
}
.product ul li i {
  font-size: 14px;
  color: rgb(0, 145, 112);
}
.product p {
  color: rgb(90, 90, 90);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.sale-price del {
  color: rgb(168, 168, 168);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.sale {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(0, 145, 112);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -10px;
}
.sale span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 17px;
}
/* .gardening start  */
.gardening {
  padding: 80px 40px;
}
.gardening-info h6 {
  color: rgb(0, 171, 132);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}
.gardening-info h1 {
  color: rgb(42, 42, 42);
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}
.gardening-info p {
  color: rgb(85, 85, 85);
  margin-bottom: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.gardening-info i {
  color: rgb(0, 171, 132);
  font-size: 25px;
  margin-bottom: 7px;
}
.gardening-info h5 {
  font-size: 22px;
  margin-bottom: 20px;
}
.gardening-info ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
}
.gardening-info ul li {
  margin-right: 10px;
}
.gardening-info ul li:last-child {
  margin-right: 0px;
}
.gardening-info ul li a {
  text-decoration: none;
}
.gardening-info ul li a i {
  color: rgb(0, 171, 132);
  font-size: 14px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  margin-bottom: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.gardening-info ul li a i:hover {
  background-color: rgb(0, 171, 132);
  color: rgb(255, 255, 255);
}
.instruct-editor {
  padding: 0px 40px;
}
.inst-edit-img {
  position: relative;
}
.inst-edit-img::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.4s ease-in-out 0s;
}
.inst-edit-img:hover::after {
  height: 100%;
}
.inst-edit-text {
  position: absolute;
  left: 0px;
  bottom: 50px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  z-index: 99;
}
.inst-edit-img:hover .inst-edit-text {
  left: 50px;
  opacity: 1;
}
.inst-edit-text h2 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 8px;
}
.inst-edit-text p {
  color: rgb(240, 240, 240);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 25px;
}
.inst-edit-text a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.3s ease-in-out 0s;
}
.inst-edit-text a:hover {
  color: rgb(0, 171, 132);
}
.buy-online {
  background-image: url("../images/buy-online.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 120px 0px;
  margin-top: 50px;
  position: relative;
  z-index: 0;
}
.buy-online::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.buy-online .shop-btn {
  margin-bottom: 0px;
}
.buy-online h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: 600;
}
.buy-online p {
  color: rgb(240, 240, 240);
  margin-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.testimonial {
  background-image: url("../images/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 80px 0px;
  position: relative;
  z-index: 0;
}
.testimonial::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: -1;
}
.testimonial h5 {
  color: rgb(0, 171, 132);
  font-size: 22px;
  margin-bottom: 15px;
}
.testimonial h1 {
  color: rgb(42, 42, 42);
  font-size: 50px;
  font-weight: 600;
}
.client {
  padding: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(255, 255, 255) 0px 0px 2px 1px;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out 0s;
}
.client:hover {
  border: 1px solid rgb(0, 171, 132);
  box-shadow: none;
}
.client p {
  color: rgb(90, 90, 90);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.client-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.client-info img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(5, 94, 67, 0.773);
}
.client-info h6 {
  color: rgb(90, 90, 90);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
  font-weight: 600;
}
.get-in-touch {
  padding: 80px 0px;
}
.get-in-touch h5 {
  margin-bottom: 20px;
  color: rgb(42, 42, 42);
  font-size: 20px;
  font-weight: 400;
}
.get-in-touch h1 {
  font-size: 50px;
  font-weight: 400;
}
.get-in-touch p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(90, 90, 90);
}
.get-in-touch ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.get-in-touch ul li {
  margin-right: 10px;
}
.get-in-touch ul li:last-child {
  margin-right: 0px;
}
.get-in-touch ul li a {
  text-decoration: none;
}
.get-in-touch ul li a i {
  color: rgb(240, 240, 240);
  font-size: 16px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 171, 132);
  margin-bottom: 0px;
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s;
}
.get-in-touch ul li a i:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(0, 171, 132);
  border: 1px solid rgb(0, 171, 132);
}
.get-in-touch h4 {
  color: rgb(42, 42, 42);
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0px;
}
.get-in-touch .phone-no {
  font-size: 18px;
  color: rgb(168, 168, 168);
}
footer {
  background-image: url("../images/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}
footer::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.78);
  z-index: -1;
}
.footer-overlay {
  position: relative;
  z-index: 0;
}
.footer-overlay::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
footer iframe {
  padding: 0px 40px;
  height: 380px;
  width: 100%;
}
footer .row {
  padding: 40px 0px;
}
footer p {
  color: rgb(168, 168, 168);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* back to top progress bar */
.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: "↑";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: rgb(0 171 132);
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  content: "↑";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: #f5f5f5;
  background-color: rgb(0 171 132);
  border-radius: 50%;
  opacity: 0;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: rgb(0 171 132);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* ------------------------ */
/* all product html  */
.all-product {
  background-color: #f5f5f5;
  padding: 100px 0;
}
.back {
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}
.back .back-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #009170;
  color: #009170;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.4s all ease-in;
}
.back .back-btn:hover {
  background-color: #009170;
  color: #fff;
}
.order-btn {
  font-size: 18px;
  background-color: #fff;
  color: #009170;
  border: 1px solid #009170;
  margin-top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.4s all ease-in-out;
}
.order-btn:hover {
  color: #fff;
  background-color: #009170;
  border: 1px solid #009170;
}
.order-btn:focus {
  box-shadow: none;
}
.all-product .product-menu {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.all-product .product-menu li button {
  font-weight: 500;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 0;
  transition: 0.4s all ease-in-out;
  border: 1px solid #009170;
}
.all-product .product-menu li button:hover {
  color: #fff;
  background-color: #009170;
}
.all-product .product-menu li button:focus {
  color: #fff;
  background-color: #009170;
  border: 1px solid #009170;
  box-shadow: none;
}

/* ----------------------------- */
/* product item  */
.product-details {
  background-color: #f5f5f5;
  padding: 50px 0;
}
.product-info h1 {
  padding-bottom: 30px;
}
.product-info p {
  margin-bottom: 35px;
}
.product-info .product-rating {
  display: flex;
  list-style: none;
  margin: 10px 0;
}
.product-info .product-rating li i {
  color: #009170;
}
.product-info h5 {
  margin-bottom: 10px;
}
.product-item-section img {
  cursor: pointer;
}
#product-img {
  width: 100%;
}
.picZoomer-pic-wp {
  width: 100% !important;
  height: 100% !important;
}
.picZoomer-zoom-wp {
  left: 100%;
}
